.person-card {
  background-color: white;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.person-card:hover {
  transform: scale(1.25);
  cursor: pointer;
}

.person-pic {
  width: 225px;
  height: 250px;
  border-radius: 10px;
}

.person-name {
  color:blueviolet;  
}
